<!DOCTYPE html>
<html>

<head>
    <title>数据展示</title>
    {%load static%}
</head>
<link rel="stylesheet" type="text/css" href="{%static 'home/css/index.css'%}"/>
<script type="text/javascript" src="{%static 'wjs/jquery-1.10.2.js'%}"></script>
<script type="text/javascript" src="{%static 'wjs/echarts.min.js'%}"></script>
<script type="text/javascript" src="{%static 'home/js/chart.js'%}"></script>

<body>
    <div id="mydic" style="font-size:40px;"></div>
    <div id="angleChart" style="height:600px;width:700px;"></div>
</body>

</html>