<!DOCTYPE html>
<html>

<head>
    <title>数据展示</title>
    {%load static%}
</head>
<link rel="stylesheet" type="text/css" href="{%static 'home/css/plot.css'%}" />
<script type="text/javascript" src="{%static 'wjs/jquery-1.10.2.js'%}"></script>
<script type="text/javascript" src="{%static 'wjs/echarts.min.js'%}"></script>
<script type="text/javascript" src="{%static 'wjs/echarts-wordcloud.js'%}"></script>
<script type="text/javascript" src="{%static 'home/js/cloud.js'%}"></script>

<body>
    <div id='cloud' style="height:600px;width: 100%;"></div>
    <div class="linee">
        <div id="index" class='clikbtn'>评分人数和评分排序</div>
        <div id="rate" class='clikbtn'>评分人数和分数情况</div>
        <div id="column" class='clikbtn'>出版年份情况图表</div>
        <div id="chart" class='clikbtn' >出版社和评分情况</div>
        <div id="cloud" class='clikbtn' style="background-color: #334499;">作者情况</div>
        <div id="borrow" class='clikbtn' >图书借阅情况</div>
    </div>
</body>

</html>